<main>
  <submission>
    <% @submissions.each do |submission| %>
      <post>
        <div class="placeholder"></div>
        <h2 class="all-titles"><%= link_to submission.title, submission_path(submission), :class => "hvr-outline-out" %></h2>
        <a href="<%= submission_path(submission) %>">
        <img class="all-img" src="<%= submission.url %>"></a>
        <time>Updated by <%= submission.user.email %> at <%= submission.updated_at %></time>
      </post>
    <% end %>
  </submission>
</main>
