<h2>New Submission</h2>
<div class="form">

  <%= form_for @submission do |f| %>
    <%= f.label :title %>
    <%= f.text_field :title %>

    <%= f.label "Image url" %>
    <%= f.text_field :url %>

    <%= f.label :description %>
    <%= f.text_field :description %>

    <%= f.label "Assign to Album" %>
    <%= f.collection_select :album_id, Album.order(:title),:id,:title, include_blank: true %>

    <%= f.submit :class => "submit-button"%>
  <% end %>
</div>
<br>
