<p class="top">&#9668; <%= link_to "Go Back".html_safe, submissions_path %></p>
<main>
  <h2><%= @submission.title %></h2>
  <time>Updated by <%= @submission.user.email %> at <%= @submission.updated_at %></time><br>
  <img src="<%= @submission.url %>">
  <% if current_user && current_user == @submission.user %><br>
    <%= link_to "Edit Submission", edit_submission_path(@submission) %>
    <%= link_to "Delete Submission", submission_path(@submission), method: :delete %>
  <% end %>
  <div class='comments'>
  <h3>Comments</h3>
  <% if current_user %>
    <%= link_to "Add new comment", new_submission_comment_path(@submission) %>
  <% end %>
  <% @submission.comments.each do |comment| %>
    <div>
      <time>Updated by <%= comment.user.email %> at <%= comment.updated_at %></time>
      <p>
	<%= comment.text %>
      </p>
      <% if current_user && current_user == comment.user %>
	<%= link_to "Edit", edit_submission_comment_path(@submission, comment) %> |
	<%= link_to "Delete", submission_comment_path(@submission, comment), method: :delete %>
      <% end %>
    </div>
  <% end %>
  </div>
</main>
