<h2>Edit Album</h2>
<div class="form">

<%= form_for @album do |f| %>
  <%= f.label :title %>
  <%= f.text_field :title %>

  <%= f.submit :class => "submit-button"%>
<% end %>
</div>
<br>
<div class="form">

<%= form_for @album, method: :delete do |f| %>
  <%= f.submit "delete", class: "delete", :class => "submit-button" %>
<% end %>
</div>
