<show>
  <h2><%= @album.title %></h2>
</show>
<div class="submission">

  <% @album.submissions.order(Submission.arel_table["created_at"].desc).each do |submission| %>

    <post>
      <h2 class="all-titles"><%= link_to submission.title, submission_path(submission), :class => "hvr-outline-out" %></h2>
      <a href="<%= submission_path(submission) %>">
      <img class="all-img" src="<%= submission.url %>"></a>
      <time>Updated by <%= submission.user.email %> at <%= submission.updated_at %></time>
    </post>
  <% end %>
</div>

<% if current_user && current_user == @album.user %>

<div class="edit-bar">
  <%= link_to "Edit Album", edit_album_path(@album), :class => "hvr-outline-out" %>
  <%= link_to "Delete Album", album_path(@album), method: :delete, :class => "hvr-outline-out" %>
<% end %> <!-- AM: I would suggest moving the `end` after the closing <div> tag. Otherwise, if the condition is not met you will have a floating closing tag. -->

</div>
